body{
    background-color:#0f0e35 ;
 }
 h2{
    font-weight: 700;
    font-size:18px;
 }
 p{
    font-weight: 400;
    font-size: 14px;
    color: hsl(0, 0%, 59%); 
    
 }
 .box{
    background-color: white;
    text-align: center;
    width: 380px;
    margin: 0 auto;
    height: 470px;
    border-radius: 8px;
    margin-top: 12%;
    overflow:hidden;
   
 }
 .box2{
   background-color: white;
   text-align: center;
   width: 380px;
   margin: 0 10px 0 0;
   height: 470px;
   border-radius: 8px;
   margin-top: -470px;
   overflow:hidden;
   float: right;
 }
 
 .box3{
   background-color: white;
   text-align: center;
   width: 380px;
   margin: 0 0 0 10px;
   height: 470px;
   border-radius: 8px;
   margin-top: -470px;
   overflow:hidden;
   float: left;
 }

#inst{
   width: 35px;
   height: 35px;
}
 .header{
    background-color:#c1c0e0 ;/* aqui eu faço a edção da capa da foto */
     padding: 1%;
     margin-bottom: 25%;
 }
 
 .fotoPerfil{
    width: 160px !important;
    height:140px !important; 
    border-radius: 50%;
    margin: 6px ;
    border: solid 4px #FFF;
    transform: translateY(60%);
    } 
 
 .barra{
    border-bottom: 1px solid #ccc;
 }
 
 .information1{
   margin-bottom: 5%;
 }
 .nomeIdade{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
 }
 .nomeIdade p{
    margin-left: 7px;
 }
 .information2{
    display: flex;
    justify-content: space-evenly;
    margin-top:8% ;
 }
 
 .description h2{
    margin-bottom: 10px;
 }
 