/*Estilos Gerais*/
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 700px 0;
}

p, li{
    color: gray;
    font-size: 14px;
}

/*Barra de Navegação*/

header, .navbar{
    background-color: #08080821;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 100px;
    margin-left: 20px;
}

.navbar-brand{
    padding: 0;
    color:white;
}

.navbar-brand:hover{
    color: white;
}

#navbar-links a {
    color: white;
}

#buttonfilter i{
    font-size: 10px;
    color: violet;
}

/*Definindo os paddings dos links, modificando os paddings padrões do bootstrap*/
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem; /*Se adaptam de acordo com a página, rem trabalha com o elemento root*/
}

/*Slider*/
.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 80vh;
}

#mainSlider .carousel-caption{
    top:30%
}
