body{
   font-family: 'Rubik', sans-serif;
   background-image: url(../Img/fundo_cadastro.jpg);
   background-size: cover;
}

main{
   width: 100%;
   margin-top: 120px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


.main-container{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 30px 60px;
   justify-content: space-around; 

}

h1{
   font-weight: 700;
   font-size:50px;
   font-weight: bold;
}

 h2{
    font-weight: 700;
    font-size:18px;
 }
 p{
    font-weight: 400;
    font-size: 14px;
    color: hsl(0, 0%, 59%); 
 }

 .box{
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   text-align: center;
   width: 340px;
   height: 420px;
   border-radius: 10px;
   margin-bottom: 40px;
   overflow: hidden;
}

.box:hover{
   transition: .1s;
   transform: scale(1.1);
}
 
#inst{
   font-size: 40px;
   color: white;
   width: 35px;
   height: 35px;
}

#inst:hover{
   transition: .1s;
   transform: scale(1.1);
   color: grey;
}

 .header{
   background-color: rgba(0, 0, 0, 0.7);
     padding: 1%;
     margin-bottom: 25%;
 }
 
 .fotoPerfil{
    width: 160px !important;
    height:140px !important; 
    border-radius: 50%;
    margin: 6px ;
    border: solid 4px #FFF;
    transform: translateY(40%);
    } 
 
 .barra{
    border-bottom: 1px solid #ccc;
 }
 
 .information1{
   margin-bottom: 5%;
 }
 .nomeIdade{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
 }
 .nomeIdade p{
    margin-left: 7px;
 }
 .information2{
    display: flex;
    justify-content: space-evenly;
    margin-top:8% ;
 }
 
 .description h2{
    margin-bottom: 10px;
 }

.w3-animate-top{
   animation-duration: 1000ms;
}

.w3-animate-right{
   animation-duration: 1000ms;
}

.w3-animate-left{
   animation-duration: 1000ms;
}

 @media screen and (max-width:440px){
   .box{
      text-align: center;
      width: 100%;
   }  
 }
