main{
   background-image: url("../Img/fundo_cadastro.jpg");
   display: flex;
   justify-content: center;
}

.container-account{
   background-color: rgba(0, 0, 0, 0.7);
   margin-top: 120px;
   padding-left: 20px;
   width: 50%;
   color: #ccc;
   height: 65vh;
   font-size: 20px;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   padding: 50px;
   font-family: 'Rubik', sans-serif;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

table{
   height: 90%;
   width: 100%;
}
.container-account div{
   height: 20%;

}   

.div-name{
   display: flex;
   align-items: center;
   width: 90%;
}


.div-id{
    display: flex;
    align-items: center;
    width: 90%;
}

button{
    background-color: transparent;
    border: none;
    color: #ccc;
    width: 100%;
}

button:hover{
    color: rgba(75, 75, 75, 0.7);
    background-color: #ccc;
    transition: .5s;
}

.w3-animate-top{
    animation-duration: 1000ms;
 }


@media(max-width: 600px){
    .container-account{
        width: 100%;
    }

    #hamburguer{
        width: 20%;
    }

}