
#hamburguer{
    border-color: white;
    color: white;
}

.dropdown-menu{
    border-color: white;
    background-color: rgba(126, 121, 121, 0.6);
}

.dropdown-menu li{
    border-color: white;
}

.flex-container{
    height: 100px;
    padding: 20px;
}

.flex-container a{
    text-decoration: none;
    color: white;
}

.flex-container a:hover{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.logo{
    margin-top: 10px;
    width: 150px;
}   

.nav-container{
    display: flex;
    justify-content: space-between;
}

#pesquisaFilme{
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: 0;
}

#procuraFilme{
    border: none;
    color: #ccc;


}

#procuraFilme:hover{
    background-color: white;
    color: #0f0e35;

}

button{
    background-color: #f0f4f5;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
}

/*Estilos Gerais*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

.row{
    margin: 0;
}

.container{
    padding: 700px 0;
}

p, li{
    color: gray;
    font-size: 14px;
}

/*Barra de Navegação*/

header, .navbar{
    background-color: #03030393;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 100px;
    margin-left: 30px;
}

.navbar-brand{
    padding: 0;
    color:white;
}

.navbar-brand:hover{
    color: white;
}

#navbar-links a {
    color: white;
}

#buttonfilter i{
    font-size: 10px;
    color: violet;
}

/*Definindo os paddings dos links, modificando os paddings padrões do bootstrap*/
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem; /*Se adaptam de acordo com a página, rem trabalha com o elemento root*/
}

/*Slider*/
.container-fluid{
    padding: 0;
}

#carouselExampleCaptions .carousel-inner, #carouselExampleCaptions .carousel-item{
    width: 100%;
    height: 485px;
}

#carouselExampleCaptions .carousel-caption{
    top:30%
}



/*Carrouseus*/

.div1 img{
    width: 300px;
    height: 310px  ;
    display:inline-block;
    margin: 8px;
    border-radius: 6px;
}

.div1{
    height: 360px ;
    overflow: auto;
    white-space: nowrap;
    background-color:white;
    border: 3px solid black;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track{
      box-shadow: inset 0 0 1px black;
  }
  ::-webkit-scrollbar-track {
    background:#888;
  }
  ::-webkit-scrollbar-thumb {
    background: #424242;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

.div2 img{
    width: 300px;
    height: 310px  ;
    display:inline-block;
    margin: 8px;
    border-radius: 6px;
}

.div2{
    height: 360px ;
    overflow: auto;
    white-space: nowrap;
    background-color:white;
    border: 3px solid black;
}

.div3 img{
    width: 300px;
    height: 310px  ;
    display:inline-block;
    margin: 8px;
    border-radius: 6px;
}

.div3{
    height: 360px ;
    overflow: auto;
    white-space: nowrap;
    background-color:white;
    border: 3px solid black;
}

.div4 img{
    width: 300px;
    height: 310px  ;
    display:inline-block;
    margin: 8px;
    border-radius: 6px;
}

.div4{
    height: 360px ;
    overflow: auto;
    white-space: nowrap;
    background-color:white;
    border: 3px solid black;
}

/*Textos*/

h2{
font-weight: bold !important;   
margin-left: 5px !important;
margin-top:20px !important;
margin-bottom: 20px !important;
}




/*FOOTER*/
footer{
    bottom: 0px;
    padding: 2%;
    width: 100%;
    display: flex;
    background-color: black;
    font-family: 'Rubik', sans-serif;
   
 }
 
 
 #box1{
    width: 80%;
    display: flex;
 
 }
 
 #div-footer1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 
 #div-footer1 a{
    color: white;
    font-size: 13px;
 }
 
 #div-footer1 p{
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
 }
 
 #div-footer2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 
 #div-footer2 a{
    color: white;
    font-size: 13px;
    
 }
 
 #div-footer2 p{
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
 }
 
 #networks{
    width: 50%;
 
    display: flex;
    flex-direction: column;
    align-items:baseline;
 
 }
 
 #networks p {
    margin-left: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
 }
 
 #net-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
 }
 
 #networks i{
    font-size: 40px;
 }
 
 #networks i:hover{
    color: white;
 }
 
 @media screen and (max-width:760px){
    .form-login{
       width: 80%;
    }
    .inputForm{
     padding-right: 3%;
     width: 100%;
    }
    .btn-form{
       margin-left: 0;
       width: 100%;
    }
 }
 @media screen and (max-width:500px){
    .login{
       height: 45vh;
    }
    .imagem-form{
       display: none;
    }
    .login-container{
       width: 100%;
      }
    .text-login{
       text-align: center;
       padding-top: 10%;
    }
    .imagem-responsive{
       text-align: center;
       display: block;
    }
    .form-login{
       margin-left: 1%;
       box-shadow: 10px 10px 5px #5e5e5e;
    }
    .img-responsive{
       width: 70%;
    }
 
    footer{
       margin-top: 20%;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
 
   #networks{
       margin-top: 20px
   }
 }
 @media screen and (max-width:320px){
    .imagem-responsive{
      margin-bottom: 20%;
    }
    footer{
       margin-top: 30%;
    }
 }
