
body{
   background-image: url("../img/fundo_cadastro.jpg");
   background-size: cover;

}
.imagem-responsive{
   text-align: center;
}
.div-cadastro{
   width: 50%;
   margin: 0 auto;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 30px;
   padding: 2%;
}
.form-label{
   padding-top: 10px;
   color: #ccc;
   font-size: 20px;
   font-weight: 300;
}
.input-cadastro{
   border: none;
   border-bottom: 1px solid #ccc;
   outline:0;
   border-radius: 5px;
   background-color: transparent;
   color: white;
}
.input-cadastro::placeholder{
  color: #ccc;
 
}
.input-cadastro:focus{
   outline: 0;
}
.input-rg::-webkit-inner-spin-button, 
.input-rg::-webkit-outer-spin-button,
#inputCep::-webkit-inner-spin-button,
#inputCep::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}
a{
  text-decoration: none;
}
.h1{text-align: center;}

.btn{
   background-color: transparent;
   border-color:#ccc ;
}
.btn:hover{
   background-color: #ccc;
   color: black;
}
#mensagens-erro{
   background-color: #F75353;
   border-radius: 5px;
   text-align: center;
   font-size:18px;
   list-style-type: none;
}
@media screen and (max-width:900px){
   .div-cadastro{
      width: 80%;
   }
}
