
body{
   font-family: 'Roboto', sans-serif;
   /* background-image:url("../logo_resiliaflix.png") ; */
   background-color: #a6a7a7;
}
.login{
   height: 100vh;
}
.form-login{
   width: 60%;
   margin-left:4%;
   background-color:rgba(0, 0, 0, 0.5);
   border-radius: 35px;
   overflow: hidden;
   box-shadow: 10px 10px 5px #6e6e6e;
}
/*Animação*/
.w3-animate-top{
   position: relative;
   animation: animatetop 2s;
}
.w3-animate-left{
   animation: animateleft 3s;
}
/*Fim da animação*/
.imagem-form{
   width:63%;
}
.login-container{
   padding:5% 5% 9% 5% ;
   width: 37%;
}
.inputForm{
   border: none;
   border-bottom: 1px solid #ccc;
   outline: 0;
   background-color: transparent;
   color: white;
}
::-webkit-input-placeholder{
   font-family: FontAwesome;
   text-align:right; 
}
.inputForm:-moz-placeholder{
   font-family: FontAwesome;
   text-align:right; 
}
.labelForm{
   color: #ccc;
}
.btn-form{
   width: 85%;
   border-radius:5px;
   background-color: transparent;
   border-color: #ccc;
}
.btn-form:hover{
   background-color: #ccc;
   border-color: #ccc;
   color: black;
}
.text-login{
   font-size: 35px;
   color: white;

   padding-bottom: 40px;
 
}
.span-cadastro,
.span-esqueceu{
   color: #ccc;
   font-size: 14px;
   display: block;
   padding: 1% 0 ;
}


@media screen and (max-width:1280px){
   
   #link-cadastro{
      margin-left: 3%;
   }
}
@media screen and (max-width:580px){
   .form-login{
      width: 70%;
   }
   .inputForm{
      width: 100vw;
   }
   .btn-form{
      margin-left: 0;
      width: 75%;
   }
}

